[package]
name = "processor"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
axum = "0.8.7"
env_logger = "0.11.8"
futures = "0.3.31"
futures-util = "0.3.31"
log = "0.4.28"
rdkafka = { version = "0.38", features = ["cmake-build"] }
tokio = { version = "1.48.0", features = ["full"]}
